---
# Only the main Sass file needs front matter (the dashes are enough)
---

/* Variables
-------------------------------------------------- */
$primary-font-family: 'Noto Serif', serif;
$secondary-font-family: 'Open Sans', Helvetica, Arial, sans-serif;

$primary-color: #0a86bf;
// $secondary-color: #7DB9B3;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "normalize",
  "base",
  "header",
  "navigation",
  "inner",
  "grid",
  "images",
  "iframe",
  "home",
  "books",
  "archive",
  "code",
  "404",
  "footer"
;
