---
layout: default
permalink: /
title: Bradonomics
modified: 2014-09-17
excerpt: After 5 years in Thailand I'm still trying to find my way into entrepreneurship ...these are my stories.
image: bradonomics-cover.jpg
---

<div class="archive-wrap"><div class="page-content"><div class="tiles">

<div class="tile">
<h2 class="post-title">Thailand ETCetera</h2>
<p class="post-excerpt">A Boutique Travel Firm.</p>
</div>

<div class="tile">
<h2 class="post-title">More Than Money Show</h2>
<p class="post-excerpt">A podcast on finding meaning in your work without sacrificing your financial security.</p>
</div>

<div class="tile">
<h2 class="post-title">Code Crucible</h2>
<p class="post-excerpt">Learning to code without college or coding bootcamps.</p>
</div>

</div></div></div>

<div class="article-list"><div class="wrap">
<h2 class="list-title">Selected Writings</h2>
<div class="article-titles">
<ul class="post-list">{% for post in site.posts limit:5 %}
{% include post-list.html %}{% endfor %}
</ul>
</div>
</div></div>
<div class="article-list"><div class="wrap">
<h2 class="list-title">Recent Writings</h2>
<div class="article-titles">
<ul class="post-list">{% for post in site.posts limit:5 %}
{% include post-list.html %}{% endfor %}
</ul>
</div>
</div></div>