<footer class="site-footer" itemscope itemtype="http://schema.org/WPFooter">
  <div class="wrap">
    <a href="http://local.dev/bradonomics" class="footer-logo">{{ site.title }}</a>
    <div class="footer-icons">
      <a href="https://twitter.com/bradonomics" class="fa fa-2x fa-twitter"></a>
      <a href="https://th.linkedin.com/pub/brad-west/31/aab/a0b" class="fa fa-2x fa-linkedin"></a>
      <a href="https://github.com/bradonomics" class="fa fa-2x fa-github"></a>
      <a href="http://feeds.feedburner.com/bradonomics" class="fa fa-2x fa-rss"></a>
    </div>
    <p>Pixels handcrafted in Chiang Mai, Thailand.</p>
  </div>
</footer>