<header class="site-header"{% if page.featured-image %} style="background-image:url('{{ site.url }}/images/{{ page.featured-image }}');"{% endif %} itemscope itemtype="http://schema.org/WPHeader">{% if page.url == '/' %}
<div class="wrap">
  <div class="title-area">
    <p class="site-title" itemprop="headline"><a href="http://local.dev/bradonomics/">Bradonomics</a></p>
    <div class="bio-area">
      <p>American Expat in Thailand • Web Developer • Permaculture Nerd • Brazilian Jiu-Jitsu Enthusiast • Bibliophile • Philomath • Armchair Linguist</p>
    </div>
  </div>
</div>
{% endif %}</header>