<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">

  {% for link in site.data.navigation %}<a class="sidebar-nav-item{% if link.url == page.url %} active{% endif %}" href="http://bradonomics.github.io{{ link.url }}">{{ link.title }}</a>
  {% endfor %}

    
  <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a>
  <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
