<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">
<div class="sidebar" id="sidebar">
<div class="sidebar-item">
<p>{{ site.description }}</p>
</div>
<nav class="sidebar-nav" role="navigation" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
{% for link in site.navigation %}<a class="sidebar-nav-item{% if link.url == page.url %} active{% endif %}" href="http://bradonomics.github.io{{ link.url }}">{{ link.title }}</a>
{% endfor %}</nav>
</div>