/* Archives
-------------------------------------------------- */
.blog .wrap,
.archive .wrap {
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1160px;
}

.archive-title {
  text-transform: capitalize;
}

.archive-description p,
.archive-description ul {
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 25px;
  text-align: left;
}

.group-year {
  display: block;
}

.group-year p {
  display: none;
}
@media only screen and (min-width: 750px) {
  .group-year p {
    display: block;
    float: left;
    margin: 0;
    padding: 12px 20px 0;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC') repeat-x;
    background-position: top;
    font-family: $secondary-font-family;
    font-size: 36px;
  }
}

.group-year article {
  padding: 20px 0;
  position: relative;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC') repeat-x;
  background-position: top;
}
@media only screen and (min-width: 750px) {
  .group-year article {
    margin-left: 150px;
    padding-left: 90px;
  }

  .group-year article:last-child {
    margin-bottom: 60px;
  }
}

.group-year h3 {
  margin-bottom: 0;
  padding: 0 20px;
  font-size: 25px;
}
@media only screen and (min-width: 750px) {
  .group-year h3 {
    font-size: 30px;
  }
}
@media only screen and (min-width: 1000px) {
  .group-year h3 {
    font-size: 36px;
  }
}

.group-year h3 a {
  color: #222;
  text-decoration: none;
}

.group-year h3 a:hover {
  color: $primary-color;
  text-decoration: none;
}

.group-year time {
  padding: 0 20px;
  font-size: 18px;
  line-height: 24px;
  color: #aaa;
}
@media only screen and (min-width: 750px) {
  .group-year time {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    text-align: right;
  }
}
.group-year time .month,
.group-year time .day,
.group-year time .year {
  display: inline-block;
}

.group-year time .month {
  text-transform: uppercase;
}

@media only screen and (min-width: 750px) {
  .group-year time .year {
    display: none;
  }
}
