/* Archive Grid with Images
   ========================================================================== */

.th-grid {
    display: block;
    margin: 0;
    padding: 0
}
.th-grid:after {
    content: "";
    display: table;
    clear: both
}
.th-grid li {
    list-style: none;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    margin-bottom: 2.35765%
}
.th-grid li:last-child {
    margin-right: 0
}
.th-grid li:nth-child(4n) {
    margin-right: 0
}
.th-grid li:nth-child(4n+1) {
    clear: left
}
.th-grid a img:hover {
    -webkit-animation: pop 0.3s 0 linear;
    -moz-animation: pop 0.3s 0 linear;
    animation: pop 0.3s 0 linear;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
}
.archive-wrap {
    margin-right: 0
}