*, *:before, *:after {
  box-sizing: inherit;
}

/* Float Clearing
-------------------------------------------------- */
.clearfix:before,
.entry:before,
.entry-content:before,
.nav-primary:before,
.nav-secondary:before,
.site-container:before,
.site-footer:before,
.site-header:before,
.site-inner:before,
.wrap:before,
figure:before {
  content: " ";
  display: table;
}

.clearfix:after,
.entry:after,
.entry-content:after,
.nav-primary:after,
.nav-secondary:after,
.site-container:after,
.site-footer:after,
.site-header:after,
.site-inner:after,
.wrap:after,
figure:after {
  clear: both;
  content: " ";
  display: table;
}


/* Structure
-------------------------------------------------- */
html {
  font-size: 62.5%;
  height: 100%;
  box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height:100%;
  height: 100%;
  width: 100%;
  position:relative;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  overflow-x: hidden;
  font-family: Merriweather, serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  background-color: #fff;
  color: #222;
  text-rendering: optimizeLegibility;
}
@media (min-width: 550px) {
  body {
    font-size: 20px;
  }
}

main {
  -webkit-box-flex: 2;
  -webkit-flex: 2 0 auto;
      -ms-flex: 2 0 auto;
          flex: 2 0 auto;
}

.wrap {
  margin: 0 auto;
  padding: 0 40px;
  max-width: 760px;
}

::-moz-selection {
  background-color: #333;
  color: #fff;
}

::selection {
  background-color: #333;
  color: #fff;
}


/* Headings
-------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-family: Bitter, Georgia, serif;
}

h1 {
  font-size: 40px;
  line-height: 1.2;
}

h2 {
  font-size: 36px;
  line-height: 1.25;
}

h3 {
  font-size: 30px;
  line-height: 1.3;
}

h4 {
  font-size: 24px;
  line-height: 1.35;
}

h5 {
  font-size: 18px;
  line-height: 1.5;
}

h6 {
  font-size: 15px;
  line-height: 1.6;
}

@media (min-width: 550px) {
  h1 { font-size: 60px; }
  h2 { font-size: 42px; }
  h3 { font-size: 36px; }
  h4 { font-size: 30px; }
  h5 { font-size: 24px; }
  h6 { font-size: 15px; }
}

p {
  margin-top: 0;
  margin-bottom: 25px;
}


/* Links
-------------------------------------------------- */
a {
  color: #0a86bf;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}


/* Buttons
-------------------------------------------------- */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  padding: 16px;
  color: #FFF;
  text-align: center;
  font-family: Oswald, sans-serif;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: #0a86bf;
  border-color: #0a86bf;
  border: 2px solid #0a86bf;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
          transition: all 0.1s ease-in-out;
}

button,
.button {
  margin-bottom: 1rem;
}

.button:hover,
button:hover,
button.is-checked,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #0a86bf;
  background-color: #fff;
  border-color: #0a86bf;
  outline: none;
}


/* Lists
-------------------------------------------------- */
ul {
  list-style: disc inside;
}

ol {
  list-style: decimal inside;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 25px;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 15px 0 15px 30px;
}

.entry-content ol ol,
.entry-content ul ul {
  margin-bottom: 0;
}

li {
  margin-bottom: 10px;
}


/* Tables
-------------------------------------------------- */
table {
  margin-right: 25px;
  margin-left: 25px;
  margin-bottom: 25px;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}


/* Quotes
-------------------------------------------------- */
blockquote {
  max-width: 720px;
  margin: 16px auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 40px;
  border-left: 5px solid #e5e5e5;
}
@media (min-width: 400px) {
  blockquote {
    padding-right: 60px;
  }
}

blockquote::before {
  position: relative;
  left: -30px;
  top: -10px;
  content: "“";
  display: block;
  font-size: 40px;
  height: 0;
}

blockquote p {
  padding: 0 !important;
}

blockquote p:last-child {
  margin-bottom: 0;
}

blockquote,
blockquote::before,
blockquote p {
  color: #555;
}

blockquote cite {
  display: block;
  float: right;
}