/* Body text
   ========================================================================== */

article {
  margin-bottom: 3em;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* Lists */
ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul {
	margin-bottom: 0;
}

dt {
  font-weight: bold;
}
dd {
  margin-bottom: .5rem;
}

/* Content Divider
   ========================================================================== */
.divider {
  position: relative;
  width: 8.4716em;
  margin: 16px auto;
  margin: 1rem auto;
  height: 5px;
  border: 0;
}
.divider:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 8.4716em;
  height: 1px;
  background: #ddd;
}

/* Quotes
   ========================================================================== */

blockquote {
  padding: .5rem 1rem .5rem 2rem;
  margin: .8rem 0;
  border-left: .25rem solid #e5e5e5;
}
blockquote::before {
	position: relative;
	left: -20px;
	top: -10px;
  content: "“";
	display: block;
	font-size: 32px;
	font-size: 2rem;
	height: 0;
}
blockquote p:last-child {
  margin-bottom: 0;
}
blockquote,
blockquote::before,
blockquote p {
	color: #555;
}
@media (min-width: 30rem) {
  blockquote {
    padding-right: 3rem;
    padding-left: 2rem;
  }
}

/* Tables
   ========================================================================== */

table {
  margin-bottom: 2.5rem;
  width: 100%;
  border-collapse: collapse;
	border-spacing: 0;
	line-height: 2;
}
tbody {
	border-bottom: 1px solid #ddd;
}
td,
th {
  padding: .25rem .5rem;
  text-align: left;
}
th {
	font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid #ddd;
}
td {
	border-bottom: 1px solid #ddd;
}

/* Notice boxes
   ========================================================================== */

.notice-warning {
    position: relative;
    padding: 1.5em;
    font-family: 'PT Serif', Helvetica, sans-serif;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.71429;
    margin-bottom: 39px;
    margin-bottom: 2.4375rem;
    color: #fff;
    background-color: #f1c40f;
}
.notice-warning a {
    color: #fff;
    border-bottom: 1px dotted #fff
}

.notice-danger {
    position: relative;
    padding: 1.5em;
    font-family: 'PT Serif', Helvetica, sans-serif;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.71429;
    margin-bottom: 39px;
    margin-bottom: 2.4375rem;
    color: #fff;
    background-color: #e74c3c;
}
.notice-danger a {
    color: #fff;
    border-bottom: 1px dotted #fff
}


/* Container
   ========================================================================== */

/*
 * Center the page content.
 */

#page-wrapper {
    padding: 0 1.618em;
    height: 100%;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate(0, 0);
       -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
         -o-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition: 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
       -moz-transition: 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
         -o-transition: 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
            transition: 500ms cubic-bezier(0.645, 0.045, 0.355, 1)
}

.container {
  max-width: 28rem;
  padding-left:  1rem;
  padding-right: 1rem;
  margin-left:  auto;
  margin-right: auto;

}
@media (min-width: 38rem) {
  .container {
    max-width: 32rem;
  }
}
@media (min-width: 56rem) {
  .container {
    max-width: 38rem;
  }
}

/* Meta Data
   ========================================================================== */

.page-meta p {
  margin-bottom: 0 !important;
}

hr {
  position: relative;
  margin: 16px 0;
  margin: 1rem 0;
  height: 5px;
  border: 0;
}
hr:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 8.4716em;
  height: 1px;
  background: #ddd;
}

/* Footnotes
   ========================================================================== */

.footnotes:before {
    content: 'Footnotes:';
    font-weight: 700;
}