/* Books
-------------------------------------------------- */
.book-wrapper {
  max-width: 980px;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  article.book {
    float: right;
  }
}

.book-container {
  margin-bottom: 60px;
}
@media (min-width: 750px) {
  .book-container {
    max-width: 760px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 40px;
  }
}
@media (min-width: 1200px) {
  .book-container {
    margin: 0;
    padding: 0;
  }
}

.book-img {
  margin-bottom: 12px;
  margin-right: 0;
  text-align: center;
}
@media (min-width: 750px) {
  .book-img {
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
  }
}
@media (min-width: 1200px) {
  .book-img {
    margin-right: 0;
  }
}

.book-img img {
  max-width: 100%;
  box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.2);
}
@media (min-width: 400px) {
  .book-img img {
    max-width: 300px;
  }
}
.book-info {
  margin-bottom: 40px;
  text-align: center;
}
@media (min-width: 750px) {
  .book-info {
    display: inline-block;
    max-width: 300px;
    text-align: left;
  }
}

.book-info .title {
  font-family: Oswald, sans-serif;
  font-size: 18px;
  padding: 0 0 5px 0;
  margin: 0;
  text-transform: uppercase;
}

.buy-info {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #c1c0aa;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #666;
  display: block;
}
@media (min-width: 750px) {
  .buy-info {
    width: 300px;
    margin-left: 0;
    margin-right: 0;
    display: inline-block;
  }
}

.buy-info p {
  border-bottom: 1px solid #c1c0aa;
  padding-bottom: 8px;
}
