/* Footer
-------------------------------------------------- */
.site-footer {
  -webkit-box-flex: 0;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
  display: inline-block;
  width: 100%;
  background-color: #202020;
  color: #fff;
  padding: 24px 0;
  font-size: 14px;
  text-align: center;
}
@media (min-width: 550px) {
  .site-footer {
    padding: 30px 0;
  }
}

.site-footer p {
  font-weight: 700;
}

.footer-logo {
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 20px;
  font-family: $site-title-font-family;
  font-size: 25px;
  line-height: 1;
  text-transform: uppercase;
  background-color: $primary-color;
}
@media (min-width: 400px) {
  .footer-logo {
    font-size: 30px;
  }
}

a.footer-logo,
a.footer-logo:hover {
  color: #fff;
  text-decoration: none;
}

.footer-icons {
  margin-bottom: 20px;
}

.footer-icons a {
  margin-right: 16px;
  font-size: 23px;
}

.footer-icons a:last-child {
  margin-right: 0;
}

.footer-icons a:hover {
  text-decoration: none;
  color: #fff;
}

.footer-notices a {
  color: #fff;
  text-decoration: none;
}

.footer-notices a:hover {
  color: $primary-color;
}