/* Header
-------------------------------------------------- */
.site-header {
  width: 100%;
  height: 70vh;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  background-attachment: fixed;
  background-color: #0a86bf;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 999;
}

.noimage .site-header {
  display: none;
}

.home .site-header {
  height: 30vh;
  text-align: center;
}
@media (min-width: 550px) {
  .home .site-header {
    height: 60vh;
    padding: 15% 0;
  }
}
@media (min-width: 750px) {
  .home .site-header {
    height: 100vh;
    margin-bottom: 50px;
    background-image: url('/images/bradonomics-cover.min.jpg');
  }
}

.site-header .wrap {
  padding: 20px 5%;
}
@media (min-width: 1000px) {
  .site-header .wrap {
    padding: 40px 0;
  }
}

.site-title {
  display: inline-block;
  padding: 20px;
  margin-top: 25px;
  font-family: Oswald, sans-serif;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
  background-color: #0a86bf;
}
@media (min-width: 550px) {
  .site-title {
    margin-top: 80px;
  }
}
@media (min-width: 750px) {
  .site-title {
    margin-top: 60px;
  }
}
@media (min-width: 1000px) {
  .site-title {
    margin-top: 0;
  }
}

.site-title a,
.site-title a:hover {
  color: #fff;
  text-decoration: none;
}

.bio-area {
  display: none;
}
@media (min-width: 750px) {
  .bio-area {
    display: block;
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
    font-family: Bitter, Georgia, serif;
    color: #fff;
  }
}
