/* Home Page
-------------------------------------------------- */
.home section header,
.center {
  text-align: center;
}

.home section {
  margin-bottom: 50px;
  clear: both;
}

.about-long {
  display: flex;
  flex-flow: row wrap;
  max-width: none;
  margin: 0 auto;
  background-color: #0a86bf;
}

.about-long .column {
  padding: 40px 40px;
  background-color: inherit;
}

.about-long h2,
.about-long p {
  color: #fff;
}

.about-long a {
  color: #fff;
  text-decoration: underline;
}