/* Home Page
-------------------------------------------------- */
.home section header,
.center {
  text-align: center;
}

.about-short {
  padding-bottom: 50px;
}

.home .contact {
  padding-top: 50px;
  padding-bottom: 50px;
}
