/* Projects Area on Homepage
   ========================================================================== */
 
.project-section .post-title {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.33333;
    margin-bottom: 0;
    text-align: center;
}

/*  SECTIONS  */
.project-section {
	clear: both;
	padding: 0;
  margin: 2em 0;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 5%;
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}

/*  GRID OF THREE  */
.span_3_of_3 {
	width: 100%;
}
.span_2_of_3 {
	width: 65%;
}
.span_1_of_3 {
	width: 30%;
}

/*  GO FULL WIDTH AT LESS THAN 30 REM */

@media only screen and (max-width: 30rem) {
	.col { 
		margin: 1% 0 1% 0;
	}
}

@media only screen and (max-width: 30rem) {
	.span_3_of_3 {
		width: 100%; 
	}
	.span_2_of_3 {
		width: 100%; 
	}
	.span_1_of_3 {
		width: 100%;
	}
}
