/* Entry Content
-------------------------------------------------- */
.entry-header,
.archive-description,
.taxonomy-description,
.error404 .entry-title {
  padding: 0 20px;
  margin-top: 40px;
  text-align: center;
}

.entry-title,
.archive-title {
  font-weight: 700;
}
@media (min-width: 1000px) {
  .entry-title,
  .archive-title  {
    line-height: 1.2;
    margin-bottom: 30px;
  }
}

.entry-title a {
  text-decoration: none;
  color: #333;
}

.entry-title a:hover {
	color: $primary-color;
}

.sub-heading {
  color: #9EABB3;
  font-size: 25px;
  font-family: $primary-font-family;
}

.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6,
.entry-content p,
.entry-content ol,
.entry-content ul,
.entry-content dl,
.entry-content .gist,
.error404 form,
.footnotes {
  max-width: 672px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.entry-content ol {
  max-width: 632px;
  list-style: decimal outside;
}

.entry-content ul {
  max-width: 632px;
  list-style: disc outside;
}

.entry-content ol p {
  padding: 0;
}

.category-book-reviews .entry-content h2,
.category-book-reviews .entry-content h3,
.category-book-reviews .entry-content h4,
.category-book-reviews .entry-content p,
.category-book-reviews .entry-content ul,
.category-book-reviews .entry-content ol {
  padding: 0;
}

.entry-content table {
  width: 720px;
  margin-left: auto;
  margin-right: auto;
}

/* icons for ebooks */
.pdf, a[href $=".pdf"],
.epub, a[href $=".epub"],
.mobi, a[href $=".mobi"],
.azw, a[href $=".azw"] {
  padding-left: 20px;
  min-height:16px;
}

.pdf, a[href $=".pdf"] {
  background: url(../bradonomics/images/document-pdf.png) no-repeat 0 50%;
}

.epub, a[href $=".epub"] {
  background: url(../bradonomics/images/document-epub.png) no-repeat 0 50%;
}

.mobi, .azw, a[href $=".mobi"], a[href $=".azw"] {
  background: url(../bradonomics/images/document-mobi.png) no-repeat 0 50%;
}

hr {
  position: relative;
  margin: 16px 0;
  margin: 10px 0;
  height: 5px;
  border: 0;
}

hr:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 170px;
  height: 1px;
  background: #ddd;
}

.section-divider {
  display: block;
  width: 100px;
  margin: 55px auto;
  border-bottom: 2px solid #222;
}

.divider {
  position: relative;
  width: 170px;
  margin: 16px auto;
  height: 5px;
  border: 0;
}

.divider:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 170px;
  height: 1px;
  background: #ddd;
}

.footnotes {
  font-family: $secondary-font-family;
}

.footnotes:before {
  content: "Footnotes:";
  font-size: 26px;
  font-weight: 700;
}

.footnotes ol {
  list-style: decimal outside;
  font-family: $primary-font-family;
}

.entry-footer {
  max-width: 672px;
  margin: 0 auto;
  padding: 0 20px;
}

.after-post-widget {
  max-width: 712px;
  margin: 0 auto 25px;
  padding: 40px;
  background-color: $primary-color;
}

.after-post-widget p {
  margin-bottom: 0;
  color: #fff;
}

.after-post-widget a {
  color: #fff;
}

/* Entry Meta
-------------------------------------------------- */
.entry-meta {
  font-family: $secondary-font-family;
  font-size: 15px;
  color: #9EABB3;
}

.blog .entry-meta,
.archive .entry-meta {
  padding-top: 0;
}

.entry-time, .entry-categories {
  display: inline;
}
// @media (min-width: 550px) {
//   .entry-time, .entry-categories {
//     display: inline;
//   }
// }

.entry-time {
  margin-right: 18px;
}

.entry-time:before {
  content: '\f073';
  font-family: 'FontAwesome';
  margin-right: 8px;
}

.entry-categories:before {
  content: '\f07c';
  font-family: 'FontAwesome';
  margin-right: 8px;
}

.entry-categories a {
  text-transform: capitalize;
}
