/* Structure and Layout
-------------------------------------------------- */
.site-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height:100%;
  height: 100%;
  width: 100%;
  position:relative;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  background-color: #fff;
}

main {
  -webkit-box-flex: 2;
  -webkit-flex: 2 0 auto;
      -ms-flex: 2 0 auto;
          flex: 2 0 auto;
}

.wrap {
  margin: 0 auto;
  padding: 0 40px;
  max-width: 760px;
}

.page-template-template_page_blog .wrap,
.archive .wrap {
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1000px;
}

.archive-description p,
.archive-description ul {
  margin: 0 auto;
  text-align: left;
  margin-top: 0;
  margin-bottom: 25px;
  max-width: 760px;
}

.full-width-content .content-sidebar-wrap {
  max-width: 100%;
}
