<!DOCTYPE html>
<html lang="en-us">
<head>
<meta charset="utf-8">
<meta name="robots" content="noindex, nofollow">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="alternate" type="application/rss+xml" title="Bradonomics" href="http://bradonomics.github.io/atom.xml">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic|Bitter|Oswald|Francois+One|Oxygen+Mono">
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
{% include sidebar.html %}
<div class="wrap">
<header class="site-header cover" style="background-image:url(/images/{{ page.image }})">
<div class="title-area">
<h1 class="404-title">{{ page.headline }}</h1>
</div>
</header>
<div id="page-wrapper">
{{ content }}
</div>
</div>
<label for="sidebar-checkbox" class="sidebar-toggle"></label>
</body>
</html>