<!DOCTYPE html>
<html lang="en-us">
<head>
<meta charset="utf-8">
<meta name="robots" content="noindex, nofollow">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ page.title }}</title>
<meta name="description" content="{{ page.excerpt }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="canonical" href="http://bradonomics.github.io{{ page.url }}">
<link rel="author" href="https://plus.google.com//103163741383795666289/">
<link rel="alternate" type="application/rss+xml" title="Bradonomics" href="http://bradonomics.github.io/atom.xml">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic|Bitter|Oswald|Francois+One">
<link rel="stylesheet" type="text/css" href="http://bradonomics.github.io/css/main.css">
</head>
<body>

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <label for="sidebar-checkbox" class="sidebar-toggle"></label>

          <h3 class="masthead-title">
            <a href="/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>
    </div>

  </body>
</html>
